@model IEnumerable<clinic_management.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Patients @Html.ActionLink("Create New", "Create", "Patients", null, new { @class = "btn btn-default pull-right" })</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <table class="table" id="tablePatients">
        <thead>
            <tr>
                <th>
                    Patient Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientGender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientAddrss)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientFirst) @Html.DisplayFor(modelItem => item.PatientLast)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientGender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientAddrss)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientType.TypeName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PatientID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PatientID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PatientID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#tablePatients').DataTable();
    });
</script>