@model clinic_management.Models.Staff

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/login_style.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="login-container">
                <div id="output"></div>
                <div class="form-box">
                    <label class="text-danger">@ViewBag.ErrorMessage</label>
                    <hr />
                    @Html.EditorFor(model => model.StaffID, new { htmlAttributes = new { @placeholder = " Enter Account ID", @type = "text" } })
                    @Html.EditorFor(model => model.StaffPassword, new { htmlAttributes = new { @placeholder = "Enter Account Password", @type = "password" } })
                    
                    @Html.ValidationMessageFor(model => model.StaffID, "", new { @class = "text-danger" })
                    
                    @Html.ValidationMessageFor(model => model.StaffPassword, "", new { @class = "text-danger" })
                    
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </div>
            </div>
        </div>
    }
</body>
</html>
