@model clinic_management.Models.Staff

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Accounts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StaffLast)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffLast)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StaffFirst)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffFirst)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StaffMid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffMid)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StaffGender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffGender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StaffPassword)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffPassword)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StaffJoinedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffJoinedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserType.TypeDesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserType.TypeDesc)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StaffID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
