@model clinic_management.Models.Staff

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Accounts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

    <div class="row">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("First Name")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StaffFirst)
                </dd>

                <dt>
                    @Html.DisplayName("Middle Name")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StaffMid)
                </dd>

                <dt>
                    @Html.DisplayName("Last Name")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StaffLast)
                </dd>

                <dt>
                    @Html.DisplayName("Gender")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StaffGender)
                </dd>

                <dt>
                    @Html.DisplayName("Password")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StaffPassword)
                </dd>

                <dt>
                    @Html.DisplayName("Date of Joined")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StaffJoinedDate)
                </dd>

                <dt>
                    @Html.DisplayName("User")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserType.TypeDesc)
                </dd>
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
            </dl>
        </div>
    </div>