@model clinic_management.Models.ModelContainer

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Patient Medical Information</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <button class="btn btn-primary" id="btnMedicineCheckout">Medicine Checkout</button>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.medcheck.DateTimeOfVisit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.DateTimeOfVisit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.Complaint)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.Complaint)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.Diagnosis)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.Diagnosis)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.Treatment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.Treatment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.Remarks)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.Remarks)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.MedCheckType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.MedCheckType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.MedCheckStatus)
            </dt>

            <dd>
                @if (Model.medcheck.MedCheckStatus == 1)
                {
                    <label>Ongoing</label>
                }
                @if (Model.medcheck.MedCheckStatus == 2)
                {
                    <label>Done</label>
                }
                @if (Model.medcheck.MedCheckStatus == 3)
                {
                    <label>Cancelled</label>
                    <script>
                        $("#btnMedicineCheckout").prop('disabled', true);
                    </script>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.Patient.PatientLast)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.Patient.PatientLast)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.Staff.StaffLast)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.Staff.StaffLast)
            </dd>

        </dl>
    </div>
    <div id="divMedicineGiven" class="col-lg-8" style="display: none;">
        <div class="panel panel-default">
            <div class="panel-body">
                <hr />
                <table class="table table-striped table-bordered" cellspacing="0" id="tableItemGiven">
                    <thead>
                        <tr>
                            <td style="width: 40%">Item ID</td>
                            <td style="width: 40%">Item Name</td>
                            <td style="width: 20%">Quantity Given</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MedCheckItem)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.ItemName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @if (Model.medcheck.MedCheckStatus == 2)
    {
        <script>
            $("#btnMedicineCheckout").prop('disabled', true);
            $("#divMedicineGiven").show();
        </script>
    }
    <div id="divMedicineCheckout" class="col-lg-8" style="display: none;">
        <div class="panel panel-default">
            <div class="panel-body">
                <hr />
                <table class="table table-striped table-bordered" cellspacing="0" id="tableItems">
                    <thead>
                        <tr>
                            <td style="width: 25%">Item ID</td>
                            <td style="width: 35%">Item Name</td>
                            <td style="width: 25%">Remaining Stocks</td>
                            <td style="width: 15%">Qty</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ItemList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemQuantity)
                                </td>
                                <td>
                                    <input id="@item.ItemID" type="number" class="qty-number form-control" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-danger pull-right" id="closeMedicineCheckout">Close</button>
                <button class="btn btn-success pull-right" id="btnContinue">Continue</button>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.medcheck.MedCheckID }) |
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
</p>

<!-- Anti Forgery Form -->
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<script>
    $(document).ready(function () {
        $('#tableItems').DataTable();
    });

    $(".qty-number").keypress(function (e) {
        if (!isNaN(e.key)) {
            var intQty = $("#" + this.id).val() + e.key;
            var $row = $(this).closest("tr"), intRemStock = $row.find("td:nth-child(3)");

            if (parseInt(intQty) > parseInt(intRemStock.text())) {
                alert("Number of quantity exceeds the remaining stocks!");

                return false;
            }
        }
    })

    $('#btnMedicineCheckout').click(function () {
        $('#divMedicineCheckout').show();
    });

    $('#closeMedicineCheckout').click(function () {
        $('#divMedicineCheckout').hide();
    });

    $(".add-item").click(function () {
        var $row = $(this).closest("tr"), ItemID = $row.find("td:nth-child(1)");
        var $row = $(this).closest("tr"), ItemName = $row.find("td:nth-child(2)");
        var $row = $(this).closest("tr"), Quantity = $row.find("td:nth-child(3)");

        alert(Quantity.text());
    });

    $("#btnContinue").click(function () {
        var table = $("#tableItems tbody");

        var arrData = [];

        table.find('tr').each(function (i) {
            var $tds = $(this).find('td'),
                ItemID = $tds.eq(0).text().trim(),
                ItemName = $tds.eq(1).text().trim(),
                ItemStock = $tds.eq(2).text().trim(),
                Qty = $tds.eq(3);
            Qty = Qty.find('input');
            Qty = Qty.val().trim();

            arrData.push([ItemID, ItemName, ItemStock, Qty]);
        });

        //for (var i = 0; i < arrData.length; i++) {
        //    alert(arrData[i][0] + arrData[i][1] + arrData[i][2] + arrData[i][3])
        //}

        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        $.ajax({
            type: "POST",
            url: "../Checkout",
            data: {
                __RequestVerificationToken: token,
                MedCheckID: "@Model.medcheck.MedCheckID",
                arrData: arrData
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
            },
            success: function (result) {
                if (result.status) {
                    window.location = "../Index";
                }
            }
        });
    });
</script>