@model clinic_management.Models.ModelContainer

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Patient Medical Information</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <button class="btn btn-primary" id="btnMedicineCheckout">Medicine Checkout</button>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.medcheck.DateTimeOfVisit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.DateTimeOfVisit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.Complaint)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.Complaint)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.Diagnosis)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.Diagnosis)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.Treatment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.Treatment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.Remarks)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.Remarks)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.MedCheckType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.MedCheckType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.MedCheckStatus)
            </dt>

            <dd>
                @if (Model.medcheck.MedCheckStatus == 1)
                {
                    @Html.Display("Ongoing")
                }
                @if (Model.medcheck.MedCheckStatus == 2)
                {
                    @Html.Display("Done")
                }
                @if (Model.medcheck.MedCheckStatus == 3)
                {
                    @Html.Display("Cancelled")
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.Patient.PatientLast)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.Patient.PatientLast)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.medcheck.Staff.StaffLast)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medcheck.Staff.StaffLast)
            </dd>

        </dl>
    </div>
    <div id="divMedicineCheckout" class="col-lg-8" style="display: none;">
        <button class="btn btn-danger" id="closeMedicineCheckout">Close</button>
        <div class="panel panel-default">
            <div class="panel-body">
                <hr />
                <table class="table table-striped table-bordered" cellspacing="0" id="tableItems">
                    <thead>
                        <tr>
                            <td>Item ID</td>
                            <td>Item Name</td>
                            <td>Quantity</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ItemList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemQuantity)
                            </td>
                            <td>
                                <button class="add-item">add</button>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.medcheck.MedCheckID }) |
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
</p>

<script>
    $('#btnMedicineCheckout').click(function () {
        $('#divMedicineCheckout').show();
    });

    $('#closeMedicineCheckout').click(function () {
        $('#divMedicineCheckout').hide();
    });

    $(".add-item").click(function () {
        var $row = $(this).closest("tr"), ItemID = $row.find("td:nth-child(1)");
        var $row = $(this).closest("tr"), ItemName = $row.find("td:nth-child(1)");
        var $row = $(this).closest("tr"), Quantity = $row.find("td:nth-child(1)");
    });
</script>