<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>PUP Medical Clinic</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME ICONS  -->
    <link href="~/Content/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/inventory.css" rel="stylesheet" />
    <link href="~/Content/assets/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/assets/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/supply_style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/assets/css/select2.min.css" rel="stylesheet" />
    <!-- DATATABLES -->
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- SCRIPTS -->
    <!-- CORE JQUERY -->
    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="~/Content/assets/js/bootstrap.js"></script>
    <!-- DATATABLE -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="~/Content/assets/js/metisMenu.min.js"></script>
    <script src="~/Content/assets/js/sb-admin-2.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/js/select2.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">PUP Clinic Management</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <p id="staffname"></p>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="@Url.Action("Index", "Login")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    @if (Convert.ToInt32(Session["usertype"].ToString()) == 2 || Convert.ToInt32(Session["usertype"].ToString()) == 3)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Patients")"><i class="fa fa-user"></i> Patients</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "MedChecks")"><i class="fa fa-list-alt fa-fw"></i> Medical Check-Ups</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Inventory")"><i class="fa fa-list-alt fa-fw"></i> Inventory</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-file-o"></i> Reports <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("GenerateLogbook", "Reports")">Daily Time Record</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("MedHistory", "Reports")">Medical History</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="@Url.Action("Regular", "Deletes")"><i class="fa fa-recycle fa-fw"></i> Recover</a>
                        </li>
                    } 
                    
                    @if (Convert.ToInt32(Session["usertype"].ToString()) == 1)
                    {
                    <li>
                       <a href="#"><i class="fa fa-wrench fa-fw"></i> Maintenance<span class="fa arrow"></span></a>
                           <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Index", "PatientTypes")">Patient Types</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "PColleges")">Patient Colleges</a>
                            </li>
                           </ul>
                    <!-- /.nav-second-level -->
                    </li>
                    }
                    @if (Convert.ToInt32(Session["usertype"].ToString()) == 1)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Staffs")"><i class="fa fa-users fa-fw"></i> User Accounts</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Admin", "Deletes")"><i class="fa fa-recycle fa-fw"></i> Recover</a>
                        </li>
                    }
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <!-- MENU SECTION END-->
    <div id="page-wrapper">
        @RenderBody()
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    @*<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &copy; 2017 Walwal Project | By : <a href="https://www.facebook.com/groups/125083034874401/" target="_blank">PM Special Project</a>
                </div>

            </div>
        </div>
    </footer>*@
    <!-- FOOTER SECTION END-->
</body>
</html>

<script>
    $('#staffname').text("Hello, " + "@Session["staffname"]");
</script>