@model IEnumerable<clinic_management.Models.Item>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Inventory</h2>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#medicines">Medicines</a></li>
        <li><a data-toggle="tab" href="#utensils">Utensils</a></li>
    </ul>

    <div class="tab-content">
        <div id="medicines" class="tab-pane fade in active">
            <br />
            <div class="btn-group">
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Inventory")'">Add Medicine</button>
                <button type="button" class="btn btn-default" disabled>Delete</button>
                <button type="button" class="btn btn-default">Refresh</button>
            </div>
            <br />
            <br />
            <table class="table" id="tableMedicines">
                <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemQuantity)
                            </td>
                            <td>
                                @Html.ActionLink("Add Supply", "Edit", new { id = item.ItemID }, new { @class = "btn btn-success" })
                                @Html.ActionLink("View Supply", "Details", new { id = item.ItemID }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="utensils" class="tab-pane fade">
            <br />
            <div class="btn-group">
                <button type="button" class="btn btn-default">Add Supply</button>
                <button type="button" class="btn btn-default" disabled>Delete</button>
                <button type="button" class="btn btn-default">Refresh</button>
            </div>
            <br />
            <br />
            <table class="table" id="tableUtensils">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                    </tr>
                    <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tableMedicines').DataTable();
        $('#tableUtensils').DataTable();
    });
</script>