@model clinic_management.Models.PatientType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PatientType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted)
        </dd>

    </dl>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
</div>
